//說明
// .box { @include flex-center; }

//flex 排版
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// === RWD 斷點 ===
// 手機（max-width: 768px）
@mixin mobile {
  @media screen and (max-width: $device-m) {
    @content;
  }
}

// 桌機（max-width: 1200px）
@mixin desktop {
  @media screen and (max-width: $device-d) {
    @content;
  }
}